<div class="widget-wrap">
  <h3 class="widget-title"><%= __('about') %></h3>
  <div class="widget">
    <div class="name">董文枭</div>
    WEB Developer<br />
    Work at <a href="http://cmcm.com" target="_blank">Cheetah Mobile</a>
    <a href="https://cmux.cmcm.com/" target="_blank">UX</a>

    <div class="sns">
      <a href="http://github.com/dongwenxiao"><i class="fab fa-github"></i></a>
      <a href="mailto:cs_victor@126.com"
        ><i class="fas fa-envelope-square"></i
      ></a>
    </div>
  </div>
</div>
